*,
*::before,
::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Jura", sans-serif;

	font-weight: 400;
	font-style: normal;

	background: linear-gradient(45deg, #000000 0%, #923CB5 100%);
	color: #FFF;

	margin: 0;
}

main {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	height: 100%;
}

#timer {
	display: flex;
	align-items: center;

	background-color: #000;
	border-radius: 5px;
	padding: 3em 4em;
}

#timer p {
	height: fit-content;
	margin: 0;
}

#timer .separator {
	font-size: 1.5rem;
	margin-bottom: 0.75em;
}

#timer .separator,
.digits .display-name {
	color: #a2a2a2;
}

.digits {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 1em;
}

.digits span {
	font-size: 4rem;
	width: 78px;
	text-align: center;
}

@media screen and (max-width: 608px) {
	#timer {
		flex-direction: column;
	}


	#timer .separator {
		margin: 0.25em 0 0 0;
	}

}